<div class="footer">
  <div class="footerInner">
    <!-- <div class="col-md-12" style="display: inline-block;overflow: hidden;">
      <img class="footerImg" src="../../../../../assets/images/logofooter.png" >
      <a class="logo">HOOMNTURE</a>
    </div>
      <span class="mb-0">Copyright © 2017-2021</span> -->

      <div>
        <img class="footerImg" src="../../../../../assets/images/logofooter.png" >
      </div>
      <div class="footerspan">
        <a class="logo">HOOMNTURE</a>
        <span class="mb-0">Copyright © 2017-{{getYear()}}</span> 
      </div>
  </div> 
    
    
</div>