<!-- <div class="text-center">
  <h1><strong>Welcome to Contract Management</strong></h1>
</div> -->
<div class="card cardHt">
<div class="row">
    <div class="col-md-6 bgColor boxContainer">
      <div>
        <div class="font-size-24 mb-3">
          <strong>
            <span class="subTitle">Welcome to stc Services</span>
            <!-- <span class="txtSubtitle">Oona Group Financial Datamart</span> -->
          </strong>
        </div>
  
          <div class="pdTop">
            <span class="font-size-16 txtSubtitleBottom">Access to this website is restricted to authorized users only</span>
          <span class="font-size-16 txtSubtitleBottom">If you require any form of assistance, please get in touch with the admin</span>
          <div class="text-center font-size-16"> 
            Copyright © {{getYear()}}
          </div>
        </div>
      </div>
     
    </div>
    <div class="col-md-6 boxContainer">
      <div class="rightDivWidth">
        <div class="text-dark font-size-24 mb-3">
          <strong>Sign in to your account</strong>
        </div>
        <!-- <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your email!">
              <nz-input-group >
                <input class="inputText marginTopCss" type="text" nz-input formControlName="email" nzSize="large" placeholder="Email Address" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control
              nzErrorTip="Password between 8 and 20 characters, must contain at least one letter, one numeric digit, and one special character">
              <nz-input-group [nzSuffix]="suffixTemplateInfo">
                <input type="password" nz-input nzSize="large" formControlName="password" placeholder="Password"
                  maxlength="20" />
                <ng-template #suffixTemplateInfo><i nz-icon nz-tooltip
                    nzTooltipTitle="Password between 8 and 20 characters, must contain at least one letter, one numeric digit, and one special character"
                    nzType="info-circle"></i></ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button [nzSize]="'large'" [nzLoading]="loading" class="text-center w-100 marginTopCss btnCss">
                <strong>Log In</strong>
              </button>
            </nz-form-control>
          </nz-form-item>
        </form> -->
        <span class="aText">
          <a routerLink="/auth/forgot-password" class="inputText kit__utils__link font-size-16">
            Forgot password?
          </a>
        </span>
        
        <!-- <span class="aText" *ngIf="los">
          <a routerLink="/auth/register" class="kit__utils__link font-size-16">
            Sign Up
           </a>
        </span> -->
      </div>
    </div>
</div>

  
 
</div>
<!-- <div class="text-center pt-2 mb-auto">
  <span class="mr-2">Don't have an account?</span>
  <a routerLink="/auth/register" class="kit__utils__link font-size-16">
    Sign up
  </a>
</div> -->