<div class="card cardHt">
  <div class="row">
      <div class="col-md-6 bgColor boxContainer">
        <div>
          <div class="font-size-24 mb-3">
            <strong>
              <span class="subTitle">Welcome to stc Services</span>
              <!-- <span class="txtSubtitle">Oona Group Financial Datamart</span> -->
            </strong>
          </div>
    
            <div class="pdTop">
              <span class="font-size-16 txtSubtitleBottom">Access to this website is restricted to authorized users only</span>
            <span class="font-size-16 txtSubtitleBottom">If you require any form of assistance, please get in touch with the admin</span>
            <div class="text-center font-size-16"> 
              Copyright © {{getYear()}}
            </div>
          </div>
        </div>
       
      </div>
      <div class="col-md-6 boxContainer">
        <div class="rightDivWidth">
          <div class="text-dark font-size-24 mb-4">
            <strong *ngIf="!setPassword">Reset Password</strong>
            <strong *ngIf="setPassword">Generate Password</strong>
          </div>
          <!-- <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your email!">
                <input class="inputText marginTopCss" type="text" nz-input nzSize="large"  formControlName="email" placeholder="Email Address" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button nzType="primary" [nzSize]="'large'" class="text-center w-100 marginTopCss btnCss">
                  <strong *ngIf="!setPassword">Reset Password</strong>
                 <strong *ngIf="setPassword">Generate Password</strong>
                </button>
              </nz-form-control>
            </nz-form-item>
          </form>
          -->
          <span class="aText">
            <a routerLink="/auth/login" class="kit__utils__link font-size-16">
              <i class="fe fe-arrow-left mr-1 align-middle"></i>
              Go to Sign in
            </a>
          </span>
          
        </div>
      </div>
  </div>
  
    
   
  </div>