

<div class="card cardHt">
  <div class="row">
      <div class="col-md-6 bgColor boxContainer">
        <div>
          <div class="font-size-24 mb-3">
            <strong>
              <span class="subTitle">Welcome to stc Services</span>
              <!-- <span class="txtSubtitle">Oona Group Financial Datamart</span> -->
            </strong>
          </div>
    
            <div class="pdTop">
              <span class="font-size-16 txtSubtitleBottom">Access to this website is restricted to authorized users only</span>
            <span class="font-size-16 txtSubtitleBottom">If you require any form of assistance, please get in touch with the admin</span>
            <div class="text-center font-size-16"> 
              Copyright © {{getYear()}}
            </div>
          </div>
        </div>
       
      </div>
      <div class="col-md-6 boxContainer">
        <div class="rightDivWidth"> 
          <div *ngIf="isVerfied">
            <div class="text-dark font-size-24 mb-4">
              <strong>Reset Password</strong>
            </div>
            <!-- <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
              <nz-form-item>
                <nz-form-control nzErrorTip="{{error}}">
                  <nz-input-group [nzSuffix]="suffixTemplateInfo">
                  <input type="password" nz-input nzSize="large" maxlength="20"  formControlName="newPassword" placeholder="Enter new password" />
                  <ng-template #suffixTemplateInfo><i nz-icon nz-tooltip
                      nzTooltipTitle="Password between 8 and 20 characters, must contain at least one letter, one numeric digit, and one special character"
                      nzType="info-circle"></i></ng-template>
                </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="{{error}}">
                <nz-input-group [nzSuffix]="suffixTemplateInfo">
                  <input type="password" maxlength="20" nz-input nzSize="large"  formControlName="confirmPassword" placeholder="Confirm password" />
                  <ng-template #suffixTemplateInfo><i nz-icon nz-tooltip
                      nzTooltipTitle="Password between 8 and 20 characters, must contain at least one letter, one numeric digit, and one special character"
                      nzType="info-circle"></i></ng-template>
                </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary" [nzSize]="'large'" class="text-center w-100 marginTopCss btnCss">
                    <strong>Reset</strong>
                  </button>
                </nz-form-control>
              </nz-form-item>
            </form> -->
            <span class="aText">
              <a routerLink="/auth/login" class="kit__utils__link font-size-16">
                <i class="fe fe-arrow-left mr-1 align-middle"></i>
                Go to Sign in
              </a> 
            </span>
          </div>
          <div *ngIf="!isVerfied" class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32">
            <div class="font-weight-bold font-size-70 mb-1">Opps!</div>
            <div class="font-weight-bold mb-3">Link Has Expired</div>
            <div class="text-gray-6 font-size-24">This Link You Follwed  Has Expired or  not valid</div>
            <span class="aText">
              <a routerLink="/auth/login" class="kit__utils__link font-size-16">
                <i class="fe fe-arrow-left mr-1 align-middle"></i>
                Go to Sign in
              </a> 
            </span>
          </div>
        </div>
      </div>
  </div>
</div>